<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="./assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started Blinded</ion-card-subtitle>
        <ion-card-title>Welcome to Blood Ionic - Your position is {{ lat }} and {{ lng }} with a speed of {{ speed }}</ion-card-title>
        <ion-card-title>{{ error }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="locate"></ion-icon>
        <ion-label>
          <button (click)="getPosition($event)" class="mybutton">
            Get Position
          </button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="repeat"></ion-icon>
        <ion-label>
          <button (click)="resetPosition($event)" class="mybutton">
            Reset Position
          </button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="eye"></ion-icon>
        <ion-label>
          <button (click)="subscribe($event)" class="mybutton">
            Subscribe
          </button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="close"></ion-icon>
        <ion-label>
          <button (click)="unsubscribe($event)" class="mybutton">
            Unsubscribe
          </button>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
